# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
