[Unit]
Description=sualaptopphuquoc
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/sualaptopphuquoc
ExecStart=/var/www/sualaptopphuquoc/venv/bin/gunicorn config.wsgi:application --bind 127.0.0.1:8000 --workers 3 --timeout 120

[Install]
WantedBy=multi-user.target
